.container {
  flex: 1 1 auto;
}

.layerList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}

.layer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.defaultColor {
  margin-right: var(--spacing-small);
  width: var(--key-height) !important;
  height: var(--key-height) !important;
}

.resetButton {
  --primary: var(--danger);
  --primary-hover: var(--danger-hover);
  margin-top: var(--spacing);
}

.debugView {
  min-height: 30rem;
  font-family: monospace;
  resize: vertical;
}
