.key {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: calc(var(--key-height) * var(--key-unit-width));
  height: var(--key-height);

  input {
    margin: 0;
    height: inherit;
  }
}

.label {
  position: absolute;
  margin: 0;
  padding: 0 0.375em;
  background-color: #ffffff7f;
  color: black; // TODO use inverse of key color instead
  font-size: calc(var(--key-height) / 3);
}
