.key {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: calc(var(--key-height) * var(--width));
  height: var(--key-height);

  input {
    width: 100%;
    height: 100%;
  }
}

.label {
  position: absolute;
  padding: 0 3px;
  background-color: #ffffff7f;
  color: black;
}
