.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

.device {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.left {
  composes: device;
}

.cluster {
  composes: device;
  align-items: center;
  margin-right: auto;
  margin-left: calc(var(--key-height) * -0.5);

  .container:not(.split) & {
    display: none;
  }

  [data-key-index='2'] {
    transform: translate(
        calc(var(--key-height) / 3),
        calc(var(--key-height) / 3)
      )
      rotate(30deg);
  }
}

.right {
  composes: device;
  align-items: flex-end;

  .container:not(.split) & {
    margin-left: calc(var(--key-height) * -0.75);
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
