.container {
  --key-height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 25px;
}

.device {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.left {
  composes: device;
}

.cluster {
  composes: device;
  align-items: center;
  margin-right: 100px;

  .container:not(.split) & {
    display: none;
  }

  [data-key-index='2'] {
    transform: translate(15px, 15px) rotate(30deg);
  }
}

.right {
  composes: device;
  align-items: flex-end;

  .container:not(.split) & {
    margin-left: calc(var(--key-height) / -1.333);
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
