.container {
  position: relative;
  width: 500px;
}

.textarea {
  padding: 10px;
  width: 100%;
  height: 300px;
  border: 1px solid currentColor;
  border-radius: 10px;
  background-color: transparent;
  color: inherit;
  white-space: pre-wrap;
  font-family: monospace;
  resize: vertical;
}

.copy {
  position: absolute;
  top: 5px;
  right: 5px;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;

  span {
    flex-grow: 1;
  }
}
