.macroContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--spacing);
  min-height: 15rem;
  height: 15rem;
  resize: vertical;
}

.macro {
  height: 100%;
  font-family: monospace;
  resize: none;
}

.copyButton {
  position: absolute;
  top: var(--spacing-small);
  right: var(--spacing-small);
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: var(--spacing-small);
}

.editDescription {
  flex-grow: 1;
}
