@use '@picocss/pico/scss/pico' with (
  $semantic-root-element: '#root',
  $enable-semantic-container: true
);

:root {
  --danger: #{pico.$red-700};
  --danger-hover: #{pico.$red-900};
  --key-height: calc(var(--viewport-width) / 20);
  --spacing-small: 0.375em;
  --viewport-width: 100vw;

  @media (min-width: map-get(pico.$breakpoints, 'sm')) {
    --viewport-width: #{map-get(pico.$viewports, 'sm')};
  }

  @media (min-width: map-get(pico.$breakpoints, 'md')) {
    --viewport-width: #{map-get(pico.$viewports, 'md')};
  }

  @media (min-width: map-get(pico.$breakpoints, 'lg')) {
    --viewport-width: #{map-get(pico.$viewports, 'lg')};
  }

  @media (min-width: map-get(pico.$breakpoints, 'xl')) {
    --viewport-width: #{map-get(pico.$viewports, 'xl')};
  }
}

@mixin danger-dark {
  --danger: #{pico.$red-900};
  --danger-hover: #{pico.$red-700};
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include danger-dark;
  }
}

[data-theme='dark'] {
  @include danger-dark;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}

h2 {
  margin-bottom: calc(var(--typography-spacing-vertical) / 2);
}

input[type='color'] {
  padding: 0;
}

button.auto-width {
  width: auto;
}
