*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
    color: white;
  }
}
