@use '@picocss/pico/scss/pico' with (
  $semantic-root-element: '#root',
  $enable-semantic-container: true
);

:root {
  --key-height: calc(var(--viewport-width) / 20);
  --spacing-small: 0.375em;
  --viewport-width: 100vw;

  @media (min-width: map-get(pico.$breakpoints, 'sm')) {
    --viewport-width: #{map-get(pico.$viewports, 'sm')};
  }

  @media (min-width: map-get(pico.$breakpoints, 'md')) {
    --viewport-width: #{map-get(pico.$viewports, 'md')};
  }

  @media (min-width: map-get(pico.$breakpoints, 'lg')) {
    --viewport-width: #{map-get(pico.$viewports, 'lg')};
  }

  @media (min-width: map-get(pico.$breakpoints, 'xl')) {
    --viewport-width: #{map-get(pico.$viewports, 'xl')};
  }
}

#root {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}

label:has(> input) {
  cursor: pointer;
}

input[type='color'] {
  padding: 0;
}

h2 {
  margin-bottom: calc(var(--typography-spacing-vertical) / 2);
}
